 
body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  .transition {
      width:50px;
      height: 50px;
      background: blueviolet;
      transition: width 3s linear;
   }
  .transition:hover {
      width: 250px;
  }
  .rotate{
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background-color: #32CD32;
    transform: rotate(80deg) translate(30,30) ,  scale(0.7,0.6) ;
    transform-origin: 25% 75%;
  }
  .rotate:hover {
    transform: translate(100px,50px);
  }
